.bd-footer {
  background-color: #F8F8F8;
  
  padding-block: 5rem;
  h2 {
    font-size: 1.125rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.8rem;
    // width: 80%;
  }

}

@media (min-width: 768px) { 
  .bd-footer {
    p {
      width: 50%;
    }

    .content-wrapper {
      flex-direction: row-reverse;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }
