.bd-navbar {
  
  .chat-icon {
    font-size: 2rem;
  }

  .chat-notif-icon {
    top: 15%;
    left: 5%;
  }

  .search-icon {
    z-index: 100;
    top: 28%;
    right: 1.5rem;
  }
}

@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .bd-navbar {
    .logged-wrapper {
      flex-direction: row-reverse;
      align-items: center;
    }
  }
}
