.histories-list-page {
  background-image: url(../images/bg-histories-list.png);
  background-repeat: no-repeat;
  background-size: cover;
  .head-text {
    padding: 90px 0;
  }
  .img-product {
    width: 95px;
    height: 95px;
    border-radius: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .data-histories {
    padding-bottom: 150px;
  }

}