.manage-order {
  background-image: url(../images/bg-manage.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rubik', Courier, monospace;
  .img-product {
    width: 70px;
    height: 80px;
    border-radius: 10px;
  }
}