body {
  background-color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.btn:active {
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.home .btn-blue {
  width: 120px;
}

.home .btn-blue {
  background-color: #FFBA33;
}

.home .btn-blue:hover {
  background-color: #EBEFD0;
  color: #0085DF;
}

header.header-homepage {
  margin-top: 100px;
  background-image: url(../images/header-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

header.home .opacity {
  padding-top: 69px;
  height: 805px;
  background-color: rgba(0, 0, 0, 0.3);
}

header.home .opacity h1 {
  margin-bottom: 71px;
  font-weight: bold;
  font-size: 64px;
  font-family: 'Rubik', sans-serif;
}

header.home .opacity p {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

header.home .opacity .input-group {
  width: 314px;
  height: 60px;
}

header.home .opacity .line {
  border-top: 3px solid #fff;
  width: 32px;
}

header.home .option-form {
  padding: 0 20px;
  width: -webkit-fill-available;
  height: 52px;
  margin: 35px 0;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

header.home .option-form:focus {
  outline: none;
}

header.home .option-form::placeholder {
  color: #000000;
}

header.home .opacity .btn {
  border-radius: 8px;
  width: 180px;
  height: 52px;
  margin-top: 51px;
  margin-bottom: 119px;
}

.home .date-section {
  width: 100%;
}

.home-page .info {
  background-color: #fff;
  border-radius: 15px;
  margin-top: -122px;
  box-shadow: 8px 17px 33px -5px rgba(0, 0, 0, 0.3);
}

.home-page .seven-section .promo {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 120px;
  box-shadow: 8px 17px 33px -5px rgba(0, 0, 0, 0.3);
}

.home-page .info-content {
  border-right: 1px solid black;
}

.list-group li {
  list-style-type: none;
  padding: 10px 0;
}

.home-page .second-section {
  margin-top: 90px;
}

.home-page .product-circle {
  background-image: url(../images/hazelnut.png);
  background-repeat: no-repeat;
  background-size: inherit;
  height: 93px;
  border-radius: 65px;
  width: 93px;
}

.home-page .product-card .price {
  margin-top: 50px;
}


/* section */
.home section.testimoni .profile-top {
  display: none;
}

.home section.testimoni .profile-top img {
  width: 130px !important;
}

.home section.testimoni .profile-top .next-prev {
  margin-left: 0 !important;
  margin-top: -10px !important;
  border-radius: 0px 0px 0px 0px !important;
}

.home .head {
  margin-top: 82px;
  margin-bottom: 56px;
}

.home .destination h2 {
  color: #000000;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}

.home .destination a {
  text-decoration: none;
  color: #0085DF;
}

.home .view-all {
  display: block;
}

.home .view-all-btn {
  display: flex;
  top: 33%;
  text-align: end;
  width: 50px;
  height: 50px;
  right: 0;
  border-radius: 67px;
}

.home .view-all-btn:hover {
  background-color: #0085DF;
}

.home .view-all-btn svg {
  color: blue;
  text-align: center;
  margin: auto;
  font-size: 30px;
}

/* main.home section img {
  border-radius: 10px;
  margin-bottom: 15px;
} */
main.home section a {
  text-decoration: none;
}

/* main.home section .highlight {
  margin-top: -67px;
  position: relative;
  background-color: #ffff;
  width: 120px;
  height: 56px;
  border-radius: 0px 6px 0px 0px;
  font-family: 'Nunito', sans-serif;
  color: #042521;
} */
main.home section .highlight h5 {
  color: #042521;
  font-weight: 600;
  font-size: 17px;
}

main.home section .highlight span {
  font-size: 17px;
  color: #686767;
}

.home section.testimoni .left-testi {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home section.testimoni .comment svg {
  font-size: 15px;
  width: 30px;
  color: #FFBB0C;
  margin-right: 15px;
}

.home section.testimoni .comment p {
  margin-top: 31px;
  margin-bottom: 40px;
  width: 450px;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Mulish', sans-serif;
}

.home section.testimoni .profile h5 {
  font-weight: bold;
}

.home section.testimoni .profile .image {
  margin: 0 auto;
  width: 396px;
}

.home section.testimoni .profile img {
  border-radius: 10px;
  width: 396px;
}

.home section.testimoni .profile .next-prev {
  position: relative;
  background-color: #fff;
  padding: 10px;
  margin-top: -53px;
  width: 132px;
  height: 60px;
  border-radius: 16px 0px 0px 0px;
}

.home section.testimoni .profile .next-prev .btn {
  border: 2px solid black;
  width: 40px;
  border-radius: 60px;
  margin: 0 5px;
}

@media all and (max-width: 991px) {
  .home .view-all {
    display: block;
  }

  .home .view-all-btn {
    display: none;
  }

  .home section.testimoni .profile-top {
    display: block !important;
  }

  .home section.testimoni .profile {
    display: none;
  }

  .home .left-testi {
    margin-bottom: 35px;
  }

  /* nav {
    height: 95px;
  }
  nav .navigation {
    flex-wrap: wrap;
    margin: 15px 0 !important;
  }
  .navbar-nav li a {
    padding: 15px 0;
  }
  .main-nav {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .button-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .navbar-nav,
  .button-section,
  .btn-blue,
  .btn-outline {
    width: 100%;
  }
  nav .btn-outline,
  nav .btn-blue {
    padding: 15px;
  }
  .btn-outline {
    margin-bottom: 20px;
  } */
}

@media all and (max-width: 768px) {
  header.home .opacity .btn {
    width: inherit;
    margin-top: 15px;
  }

  header.home .option-form {
    margin: 20px 0;
  }
}

@media all and (max-width: 650px) {

  /* nav .container-fluid {
    justify-content: center !important;
  } */
  header.home .container {
    text-align: center;
  }

  header.home .opacity h1 {
    margin-bottom: 40px;
    font-size: 55px;
  }

  header.home .line {
    margin: 0 auto;
  }

  /* nav .navigation {
    padding: 10px;
  } */
  header.header-homepage {
    margin-top: 100px;
  }

  header.home .option-form {
    width: 90%;
    height: 45px;
    margin: 13px 0;
    margin-right: 0;
  }

  header.home .opacity .btn {
    width: 90%;
    height: 45px;
  }

  .home .destination h2 {
    font-size: 26px;
  }

  .home section.testimoni h2 {
    font-size: 23px;
  }

  .home section.testimoni .comment p {
    font-size: 18px;
  }

  .home section.testimoni .comment p,
  .home section.testimoni .profile .image,
  .home section.testimoni .profile img {
    width: 100%;
  }
}

@media all and (max-width: 576px) {
  header.home .opacity .btn {
    width: 90%;
  }
}
