.product-list .main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.product-list .card {
  margin: 20px 0;
}
.product-list .bg-third {
  background-color: #e1c57f;
}
.product-list .terms {
  font-size: 14px;
}
.product-list .list-category li {
  list-style-type: none;
}
.product-list .category {
  text-decoration: none;
  font-size: 20px;
}
.product-list .category:hover,
.product-list .category:focus {
  color: #81c68b !important;
  border-bottom: 4px solid #81c68b;
}
.product-list .image-product {
  height: 130px;
  width: 130px;
  border-radius: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product-list .card-product {
  height: 290px;
  border-radius: 25px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  background-color: #fff;
  box-shadow: 0px 11px 40px -3px rgba(0,0,0,17%);
  -webkit-box-shadow: 0px 11px 40px -3px rgba(0,0,0,17%);
  -moz-box-shadow: 0px 11px 40px -3px rgba(0,0,0,17%);
}
.product-list .discount {
  top: 37px;
  right: -31px;
  border-radius: 20px;
}
.product-list .price {
  bottom: 0;
  position: absolute;
  right: 25%;
}

@media all and (max-width: 992px) {
  .product-list .main-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .product-list aside.border-end {
    border: none !important;
  }
  .product-list aside {
    padding-right: 0 !important;
  }
}
@media all and (max-width: 768px) {
  .product-list .list-category .list-group {
    justify-content: normal !important;
  }
  .product-list .category {
    font-size: 15px;
  }
}
@media all and (max-width: 576px) {
  .product-list .discount {
    right: 0;
  }
  .product-list .category {
    font-size: 15px;
  }
}
@media all and (max-width: 475px) {
  .product-list .category {
    font-size: 15px;
  }
}