.text-cream {
  color: #FBFDE7
}

.text-cream:focus {
  color: #FBFDE7
}

.text-choco {
  color: #6B6462
}

.text-choco:focus {
  color: #6B6462
}

.box-focus-shadow-none:focus {
  box-shadow: none
}
