@import 'bootstrap/scss/functions';

@import './palletes.scss';
@import './colors.scss';


$btn-border-radius:          1.25rem !default;
// $btn-padding-y:               1.0rem !default;

@import 'bootstrap/scss/bootstrap';
